.room-row {
  height: 50px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  border-radius: 10px;
  background-color: #eee;
  margin-top: 0.5rem;
}

.room-row.unread {
  background-color: aliceblue;
}

.room-row:hover {
  background-color: var(--primary-color);
}

.room-row img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-left: 10px;
}

.room-row strong {
  margin-left: 1rem;
}

.notifications {
  height: 10rem;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  overflow-y: auto;
}

.notification {
  background-color: #ddd;
  width: 21rem;
  padding: 0.5rem;
  height: fit-content;
  border-radius: 20px;
  cursor: pointer;
  margin: 0.5rem;
}

.notification-blue {
  background-color: #637081;
  background-image: linear-gradient(315deg, #637081 0%, #7c98b3 74%);
  color: #fff;
}

.notification-green {
  background-color: #738bdc;
  background-image: linear-gradient(315deg, #738bdc 0%, #48c3eb 74%);
  color: #333;
}

.notification-orange {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);

  color: #fff;
}
